In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
postgres_url = f'postgresql+psycopg2://postgres:123@localhost:5432'

In [3]:
engine = create_engine(f"{postgres_url}/ProPinPos")

In [4]:
engine.connect()

In [5]:
pingu=pd.read_csv("penguins_lter.csv")
pingu.describe()

,Sample Number,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo)
count,344.000000,342.000000,342.000000,342.000000,342.000000,330.000000,331.000000
mean,63.151163,43.921930,17.151170,200.915205,4201.754386,8.733382,-25.686292
std,40.430199,5.459584,1.974793,14.061714,801.954536,0.551770,0.793961
min,1.000000,32.100000,13.100000,172.000000,2700.000000,7.632200,-27.018540
25%,29.000000,39.225000,15.600000,190.000000,3550.000000,8.299890,-26.320305
50%,58.000000,44.450000,17.300000,197.000000,4050.000000,8.652405,-25.833520
75%,95.250000,48.500000,18.700000,213.000000,4750.000000,9.172123,-25.062050
max,152.000000,59.600000,21.500000,231.000000,6300.000000,10.025440,-23.787670

In [6]:
pingu.isna().sum()

studyName                0
Sample Number            0
Species                  0
Region                   0
Island                   0
Stage                    0
Individual ID            0
Clutch Completion        0
Date Egg                 0
Culmen Length (mm)       2
Culmen Depth (mm)        2
Flipper Length (mm)      2
Body Mass (g)            2
Sex                     10
Delta 15 N (o/oo)       14
Delta 13 C (o/oo)       13
Comments               318
dtype: int64

Delta 15 N (o/oo): Que es esto
Delta 13 C (o/oo): Que es esto
Comments: No aportan informaci√≥n
Region: Todas son la misma
Stage: Toda es la misma

In [7]:
pingu=pingu.drop(columns=["Delta 15 N (o/oo)","Delta 13 C (o/oo)","Comments","Region","Stage"])

In [8]:
pingu.head()

,studyName,Sample Number,Species,Island,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Torgersen,N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Torgersen,N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Torgersen,N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Torgersen,N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Torgersen,N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE

Las entradas que tengan NaN en: Culmen Length, Culmen Depth, Flipper Length, Body Mass, Sex se van al carajo

In [9]:
pingu.shape

(344, 12)

Se van a ir al carajo 10, como mucho 12

In [10]:
pingu=pingu.dropna()

In [11]:
pingu.isna().sum()

studyName              0
Sample Number          0
Species                0
Island                 0
Individual ID          0
Clutch Completion      0
Date Egg               0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Body Mass (g)          0
Sex                    0
dtype: int64

In [12]:
pingu.shape

(334, 12)

In [13]:
pingu.to_sql(name="Pingu",con=engine, if_exists='replace')